.footer_Mainfooter {
    flex-shrink: 0;
    width: 100%;
    background: #fff;
    color: #333;
    border-top: 2px solid rgb(172, 172, 172);
}

.div_content_footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    padding: 50px 0 75px;
}

.div_bloc {
    flex-basis: 20%;
    margin: 0 30px;
}

/* contact */
.div_footer-contact h3,
.div_footer-services h3,
.div_footer-schedule h3,
.div_footer-medias h3 {
    font-size: 18px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/* Services */

.ul_services-list,
.ul_schedule-list,
.ul_media-list {
    list-style-type: none;
}
.ul_services-list li {
    padding: 2px 0;
}
.ul_services-list a {
    text-decoration: none;
    color: #333;
}
.ul_services-list a:hover {
    color: rgb(3,3,3);
}

/* Medias */

.ul_media-list {
    position: relative;
    right: 10px;
}
.ul_media-list svg {
    width: 30px;
    margin: 10px 10px;
}
.ul_media-list a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 13px;
}