._header{
    position: fixed;
}

.li_logo{
    
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 50%;
}

._headerbg{
    background-color: rgba(0, 0, 0, 0.85);
    transition: background-color 0.3s ease;
    padding-top: 0px;
    padding-bottom: 0px;
}
