.HistoricCar_container{
    background-color: rgb(255, 255, 255);
    width: 800px;
    min-height: 140px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(205, 205, 205);
}

.StateCar{
    font-size: 20px;
    /*text-decoration: underline #afafaf;*/
    border-bottom: 1px solid rgb(205, 205, 205);
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.Proprietes{
    font-size: 15px;
    color: #90A3BF;
    font-weight:500;
      
      
}
.AdminManageProfilProprietes{
  font-size: 15px;
  color: #000000;
  font-weight:500;
    
    
}

.ProprietesDate{
    font-size: 15px;
}

.containerHistory {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    padding-top:0px;
    padding-bottom: 0px;
    margin: 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "containerHistoryA containerHistoryB";
  }
  
  .containerHistoryA { 
    grid-area: containerHistoryA;
    padding-top:0px;
    padding-bottom: 0px;
    
    }
  
  .containerHistoryB { 
    grid-area: containerHistoryB; 
    padding-top:0px;
    padding-bottom: 0px;
    }
  .ImageHistory{

  }